# Java build artifacts
.classpath
.factorypath
build
target
# IDE project/module settings
.vscode
.project
.settings
.idea
*.iml
src/main/webapp/index.html
src/main/webapp/assets
src/main/webapp/static
src/main/resources/application.properties
search_index
.DS_Store
/bin/
