files:  
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json": 
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "namespace": "Curation/AppServer",
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
            "InstanceId": "${aws:InstanceId}",
            "InstanceType": "${aws:InstanceType}"
          },
          "metrics_collected": {
            "cpu": {
              "totalcpu": true,
              "measurement": [
                "usage_active",
                "usage_idle",
                "usage_iowait",
                "usage_guest",
                "usage_system",
                "usage_user"
              ]
            },
            "disk": {
              "ignore_file_system_types": [
                "tmpfs",
                "devtmpfs"
              ],
              "measurement": [
                "free",
                "used",
                "used_percent",
                "inodes_used",
                "inodes_free"
              ]
            },
            "diskio": {
              "measurement": [
                "reads",
                "writes",
                "read_bytes",
                "write_bytes",
                "iops_in_progress"
              ]
            },
            "mem": {
              "measurement": [
                "available",
                "available_percent",
                "free",
                "used",
                "used_percent"
              ]
            },
            "swap": {
              "measurement": [
                "free",
                "used",
                "used_percent"
              ]
            },
            "net": {
              "resources": ["eth0", "docker0"],
              "measurement": [
                "bytes_sent",
                "bytes_recv",
                "drop_in",
                "drop_out",
                "err_in",
                "err_out"
              ]
            },
            "processes": {
              "measurement": [
                "blocked",
                "dead",
                "paging",
                "running",
                "sleeping",
                "wait",
                "zombies",
                "total",
                "total_threads"
              ]
            }
          }
        }
      }
container_commands:
  start_cloudwatch_agent: 
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json