.p-frozen-column{
	z-index : 1
}

.p-datatable-scrollable .p-datatable-thead{
	z-index : 2
}

.wrap-word {
    overflow-wrap : break-word;
}

.max-w-25rem {
	max-width : 25rem;
}

.max-w-35rem {
	max-width : 35rem;
}

.max-w-40rem {
	max-width : 40rem;
}

.min-w-10rem {
	min-width: 10rem;
}